<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.3.8" targetFramework="net45" />
  <package id="MyPackage" version="1.0.1" targetFramework="net45" />
  <package id="rangoric.three.js" version="0.67.1" targetFramework="net45" />
  <package id="skzPackage" version="1.0.1" targetFramework="net45" />
  <package id="skzTsFrameWorkPackage" version="1.0.1" targetFramework="net45" />
</packages>